<div class="container">
  <div class="col-md-12">

    <mat-form-field [formGroup]="searchForm" style="margin-top: 30px;">
      <input matInput (keyup)="applyFilter()" formControlName="name" placeholder="Nome">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" style="width: 100%; margin-top: 10px;">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="types">
          <th mat-header-cell *matHeaderCellDef style="font-size: 15px;"> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.types}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Carta / detalhe</th>
          <td mat-cell *matCellDef="let element">
            <img src="{{element.images.small}}" (click)="details(element.id)"
              style="width: 50px; margin-top: 10px;margin-bottom: 10px;cursor: pointer;margin-left: 26px;" alt="">
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>

<app-loading [isLoading]="estado"></app-loading>