<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 topo">
            <img src="{{ data?.images.large}}" style="width: 360px; padding-right: 10px;" alt="">
        </div>

        <div class="col-md-6 col-sm-12 topo">
            <h2>Detalhes</h2>
            <ul>
                <li>
                    <span class="cor">Nome: </span>{{ data?.name }}
                </li>
                <li>
                    <span class="cor">Id: </span>{{ data?.id }}
                </li>
                <li>
                    <span class="cor">Tipo: </span>{{ data?.types }}
                </li>
            </ul>
            <p class="cor">Lista de ataques com</p>
            <ul *ngFor="let item of data?.attacks">
                <li>
                    <span class="cor"> Name: </span>{{ item.name }}
                </li>
                <li>
                    <span class="cor">Dano: </span>{{ item.damage }}
                </li>
                <li>
                    <span class="cor">Descrição:</span> {{ item.text}}
                </li>
            </ul>
            <p class="cor">Resistência</p>
            <ul *ngFor="let item of data?.resistances">
                <li><span class="cor">Tipo: </span>{{ item.type }}</li>
                <li><span class="cor">Valor: </span>{{ item.value }}</li>
            </ul>
            <p class="cor">Fraquesa</p>
            <ul *ngFor="let item of data?.weaknesses">
                <li><span class="cor">Tipo: </span>{{ item.type }}</li>
                <li><span class="cor">Valor: </span>{{ item.value }}</li>
            </ul>
        </div>
    </div>
</div>

<app-loading [isLoading]="estado"></app-loading>