<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="padding-left: 10px;">Pokemon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  [routerLink]="['carta']">Home</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
